.main-container{
    height : 100vh ; 
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.sub-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    height : 35% ; 
    width: 35% ;
    background-color: antiquewhite;
    padding: auto;
}

.link{
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}

.btn{
    padding:20px;
}