/* .questions-container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
} */

.container{
  height: auto;
  padding: 20px;
}

.question-card {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #f8fafc;
  border-radius: 6px;
  border: 1px solid #e2e8f0;
}

.error {
  color: #dc2626;
  text-align: center;
}

h3 {
  margin-top: 30px;
  margin-bottom: 10px;
}
