.register-container {
  height: 100vh;
  width: 100vw;
  margin: 80px auto;
  padding: 20px;
}

/* .form-container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    height : 35% ; 
    width: 25% ;
    background-color: antiquewhite;
    padding: 30px;
}

input {
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
}

button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.error {
  color: red;
  margin-bottom: 10px;
}
